body {
  font-family: Roboto, sans-serif;
  background-color: hsl(33, 52%, 87%);
  font-style: normal;
  margin: 0 auto;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

h2 {
  margin-top: 20px;
  background-color: #66796b;
  display: flex;
  height: 30px;
  color: #f5f5f5;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.018em;
  flex-direction: column;
  justify-content: center;
}

.container {
  min-width: 320px;
  border: 10px solid #66796b;
}

.summary {
  text-align: center;
  display: flex;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
  line-height: 4.28;
  letter-spacing: -0.023em;
}

.first-text {
  background-color: #66796b;
}

.my-contact {
  margin-top: 20px;
}

.sidebar {
  background-color: #d4c2ad;
  height: 900px;
  padding: 0px 30px 0px 30px;
  /* position: fixed; */
  left: 0;
  top: 0;
}

.soc-mej {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
  list-style-type: none;
}

.soc-mej-item {
  color: #000;
}

.soc-mej-item:hover,
.soc-mej-item:focus {
  color: #66796b;
}

.contacts {
  padding-top: 10px;
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: -0.01em;
  list-style-type: none;
}

.ma-tel {
  color: #000;
}

.about-me {
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.017em;
}

.name {
  padding-top: 25px;
  display: flex;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 5;
  letter-spacing: -0.023em;
  height: 40px;
  flex-direction: column;
  justify-content: center;
}

.foto-side {
  opacity: 0;
  overflow: hidden;
  width: 5px;
  height: 1px;
}

.foto-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #f5f5f5;
  text-align: center;
}

.job-title {
  padding-bottom: 30px;
  display: flex;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 3.39;
  letter-spacing: -0.023em;
}

.mail-tel {
  color: #000;
  text-decoration: none;
}

.mail-tel:hover,
.mail-tel:focus {
  text-decoration: underline;
  color: #66796b;
}

.my-tech {
  line-height: 1.2;
  font-size: 16px;
  letter-spacing: -0.025em;
}

.my-soft {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: -0.025em;
}

.what-i-can {
  line-height: 1.2;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
}

.my-projects {
  padding: 0px 30px 0px 30px;
}

.pet-projects-item {
  margin-bottom: 20px;
}

.my-works {
  line-height: 2.3;
  color: #000;
}

.my-works:hover,
.my-works:focus {
  color: #66796b;
}

.my-expirience-sec {
  padding: 0px 30px 0px 30px;
}

.my-expirience {
  margin-bottom: 20px;
}

.my-achieve {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.country-year {
  margin-bottom: 20px;
}

.my-study-f {
  margin-top: 20px;
  margin-bottom: 10px;
}

.my-study {
  margin-top: 20px;
}

.my-tech span {
  color: #66796b;
  padding-right: 5px;
  font-size: 30px;
  font-weight: 700;
}

.my-soft span {
  color: #66796b;
  padding-right: 5px;
  font-size: 30px;
  font-weight: 700;
}

.langueges span {
  color: #66796b;
  padding-right: 5px;
  font-size: 30px;
  font-weight: 700;
}

.responce span {
  color: #66796b;
  padding-right: 5px;
  font-size: 30px;
  font-weight: 700;
}

.i-can {
  font-weight: 700;
  font-size: 16px;
}

.what-i-can span {
  color: #66796b;
  padding-right: 5px;
  font-size: 30px;
  font-weight: 700;
}

.spec-date {
  margin-bottom: 10px;
}

/* .my-skills {
  padding-left: 50px;
} */

.my-tasks {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .container {
    border: none;
    padding-left: 15px;
  }

  .sidebar {
    overflow: scroll;
    height: 100%;
    width: 250px;
    position: fixed;
    padding: 0px 10px 0px 10px;
  }

  .foto-side {
    overflow: visible;
    opacity: 1;
    width: 140px;
    height: 170px;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .soc-mej {
    gap: 10px;
    font-size: small;
    letter-spacing: normal;
  }
  .my-skills {
    padding-left: 50px;
    padding-right: 20px;
    text-align: left;
  }

  .my-skills {
    margin-top: 20px;
  }

  .my-soft {
    line-height: 1.2;
    font-size: 16px;
    font-weight: 700;
  }

  .my-tech {
    font-weight: 700;
  }

  .contacts {
    font-size: 16px;
  }

  .langueges {
    font-size: 16px;
    font-weight: 700;
  }

  .content {
    padding-left: 140px;
    min-width: 700px;
  }

  .my-projects {
    padding-left: 200px;
  }

  .pet-projects-item {
    margin-top: 20px;
  }

  .my-expirience,
  .my-education,
  .additional-education {
    margin-bottom: 25px;
  }

  .my-expirience-sec {
    padding-left: 200px;
  }

  .foto-top {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
  }

  .job-title {
    font-size: 20px;
    padding: 0;
  }

  .name,
  .job-title {
    padding-left: 80px;
  }

  .summary {
    text-align: left;
    padding-left: 150px;
    padding-top: 5px;
  }

  .about-me {
    text-align: left;
    padding: 5px 50px 50px 150px;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: -0.023em;
  }

  .what-i-can {
    padding: 0;
  }

  .my-contact {
    margin-top: 10px;
  }

  .pet-projects-list {
    padding-left: 250px;
  }

  p,
  ul,
  h1,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }

  h2 {
    margin-top: 20px;
  }

  .my-expirience,
  .my-education,
  .additional-education,
  .projects {
    margin-top: 20px;
  }

  .projects,
  .my-expirience,
  .my-education,
  .additional-education {
    margin-left: 200px;
  }

  .my-tasks {
    padding-left: 250px;
    text-align: left;
  }

  .my-pos,
  .achievements,
  .my-achieve,
  .my-study-f,
  .country-year,
  .my-study,
  .my-school {
    padding-left: 250px;
  }

  .my-achieve {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .achievements {
    margin-top: 30px;
  }
}

@media screen and (min-width: 800px) {
  .pet-projects-list {
    padding-left: 180px;
  }

  .my-tasks {
    padding-left: 180px;
  }

  .my-pos,
  .achievements,
  .my-achieve,
  .my-study-f,
  .country-year,
  .my-study,
  .my-school {
    padding-left: 180px;
  }

  .projects,
  .my-expirience,
  .my-education,
  .additional-education {
    margin-left: 100px;
  }
}

@media screen and (min-width: 875px) {
  .pet-projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 90px;
  }

  .name,
  .job-title {
    padding-left: 100px;
  }

  .my-tasks {
    padding-left: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .pet-projects-list {
    padding-left: 220px;
  }

  .my-tasks {
    padding-left: 220px;
  }

  .my-pos,
  .achievements,
  .my-achieve,
  .my-study-f,
  .country-year,
  .my-study,
  .my-school {
    padding-left: 220px;
  }
}

@media screen and (min-width: 1250px) {
  .my-works {
    padding-left: 40px;
  }

  .my-pos,
  .my-tasks,
  .achievements,
  .my-achieve,
  .my-study-f,
  .country-year,
  .my-study,
  .my-school {
    padding-right: 70px;
    text-align: center;
  }

  .pet-projects-list {
    padding-left: 270px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    border: none;
    padding-left: 15px;
  }

  .pet-projects-list {
    padding-left: 380px;
  }

  .my-works {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1500px) {
  .pet-projects-list {
    padding-left: 220px;
  }
}
