.sidebar {
  margin: 10px;
  height: 1295px;
  width: 230px;
  height: 100%;
  background-color: #ffefd5;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  margin-left: 290px;
  width: 100%;
  padding: 25px;
  background-color: beige;
  margin: 10px 20px 10px 250px;
}

h1 {
  background-color: #008080;
  color: #fafafa;
  text-align: center;
}

h2 {
  background-color: #008080;
  color: #fafafa;
  text-align: center;
  font-size: 25px;
}

.job-title {
  background-color: #008080;
  text-align: center;
  color: #fafafa;
  font-size: 20px;
}
